<div class="outer-div">
    <div class="outer-frame">
        <div class="chat-screen" #scrollContainer>
            <ng-container *ngIf="conversation.length">
                <div *ngFor="let ob of conversation"
                    [ngClass]="ob.role === 'assistant' ? 'assistant-style' : 'user-style'">
                    {{ob.content}}
                </div>
            </ng-container>
        </div>
        <div class="typing-area">
            <form [formGroup]="chatControlForm">
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="input-field">
                            <input formControlName="chatInput" matInput placeholder="Type Something">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <button class="submit-btn" type="submit" [disabled]="chatControlForm.invalid"
                            (click)="submit()">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>