
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --color-deep-green: #546B41;
  --color-moss-green: #99AD7A;
  --color-beige: #DCCCAC;
  --color-cream: #FFF8EC;
  
  --bg-primary: var(--color-cream);
  --bg-secondary: var(--color-beige);
  --text-primary: var(--color-deep-green);
  --accent-primary: var(--color-deep-green);
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme.
  color-scheme: light;

  background-color: var(--bg-primary);
  color: var(--text-primary);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
