// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


:root {
  --color-dark: #000000;
  --color-text: #B1B6A6;
  --color-chat-bg: #272D2D;
  --color-user-bubble: #363946;
  --color-assistant-bubble: #696773;

  // Legacy mappings for existing rules
  --bg-primary: var(--color-dark);
  --bg-secondary: var(--color-chat-bg);
  --text-primary: var(--color-text);
  --color-charcoal: var(--color-dark);
}


html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme.
  color-scheme: light;

  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif !important;

  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */